{% extends 'GCProjetBundle::layoutt.html.twig' %}
{% block head %}
    {{ parent() }}
    <link href='http://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Playball' rel='stylesheet' type='text/css'>
{% endblock %}


{% block body %}
 {% block menu %}
     {{ parent() }}
 {% endblock %}
<div class="entry-content" style="font-family:Open Sans;">
    <table class="table table-striped table-bordered" style="font-family: Open Sans;">
        <tbody>
        <tr class="s0r0 ro1">
            <td class="text ce2 co1">Commune</td>
            <td class="text ce3 co2">Rôle</td>
            <td class="text ce4 co3">Délégués</td>
        </tr>
        <tr class="s0r1 ro1">
            <td class="text ce12 co1" rowspan="2">AISEY SUR SEINE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Gérard EME</td>
        </tr>
        <tr class="s0r2 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Olivier MARIOTTE</td>
        </tr>
        <tr class="s0r3 ro1">
            <td class="text ce12 co1" rowspan="2">AMPILLY LE SEC</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Fabienne BACH</td>
        </tr>
        <tr class="s0r4 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Elisabeth TOSSENG</td>
        </tr>
        <tr class="s0r5 ro1">
            <td class="text ce12 co1" rowspan="2">AUTRICOURT</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Jacky HEURET</td>
        </tr>
        <tr class="s0r6 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Alain RODET</td>
        </tr>
        <tr class="s0r7 ro1">
            <td class="text ce13 co1" rowspan="2">BEAULIEU</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Pierre HERGUEUX</td>
        </tr>
        <tr class="s0r8 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Jean-Louis LAMEY</td>
        </tr>
        <tr class="s0r9 ro1">
            <td class="text ce14 co1" rowspan="2">BEAUNOTTE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Daniel VIGNIER</td>
        </tr>
        <tr class="s0r10 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Chantal VIGNIER</td>
        </tr>
        <tr class="s0r11 ro1">
            <td class="text ce12 co1" rowspan="2">BELAN SUR OURCE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Thierry NAUDINOT</td>
        </tr>
        <tr class="s0r12 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Dominique VERSTRAETE</td>
        </tr>
        <tr class="s0r13 ro1">
            <td class="text ce12 co1" rowspan="2">BREMUR ET VAUROIS</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Gérard MALNOURY</td>
        </tr>
        <tr class="s0r14 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Benoît VIDAL</td>
        </tr>
        <tr class="s0r15 ro1">
            <td class="text ce12 co1" rowspan="2">BRION SUR OURCE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Georges MORIN</td>
        </tr>
        <tr class="s0r16 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Xavier RIGOLLOT</td>
        </tr>
        <tr class="s0r17 ro1">
            <td class="text ce12 co1" rowspan="2">BUNCEY</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Christian BORNOT</td>
        </tr>
        <tr class="s0r18 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Daniel TARTERET</td>
        </tr>
        <tr class="s0r19 ro1">
            <td class="text ce12 co1" rowspan="2">BURE LES TEMPLIERS</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Serge TOGNELLI</td>
        </tr>
        <tr class="s0r20 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Jean-Charles COLUMBO</td>
        </tr>
        <tr class="s0r21 ro1">
            <td class="text ce12 co1" rowspan="2">CHAMESSON</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Olivier GUILLEMAN</td>
        </tr>
        <tr class="s0r22 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Claude KERSHRO-GAILLARD</td>
        </tr>
        <tr class="s0r23 ro1">
            <td class="text ce12 co1" rowspan="2">CHARREY SUR SEINE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Olivier VAN HECKE</td>
        </tr>
        <tr class="s0r24 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Michèle POMPEY</td>
        </tr>
        <tr class="s0r25 ro1">
            <td class="text ce12 co1" rowspan="8">CHATILLON SUR SEINE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Hubert BRIGAND</td>
        </tr>
        <tr class="s0r26 ro1">
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Fabrice PEUSSOT</td>
        </tr>
        <tr class="s0r27 ro1">
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Vincent MALNOURY</td>
        </tr>
        <tr class="s0r28 ro1">
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Stéphane BRULEY</td>
        </tr>
        <tr class="s0r29 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">José DIEU</td>
        </tr>
        <tr class="s0r30 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Jean-Robert BAZOT</td>
        </tr>
        <tr class="s0r31 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">René PAQUOT</td>
        </tr>
        <tr class="s0r32 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Françoise FLACELIERE</td>
        </tr>
        <tr class="s0r33 ro1">
            <td class="text ce12 co1" rowspan="2">CHAUME LES BAIGNEUX</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Jean-Michel CHERITAT</td>
        </tr>
        <tr class="s0r34 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Michel FRANCK</td>
        </tr>
        <tr class="s0r35 ro1">
            <td class="text ce12 co1" rowspan="2">CHAUMONT LE BOIS</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Bernard PRIEUR</td>
        </tr>
        <tr class="s0r36 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Daniel GUILLIER</td>
        </tr>
        <tr class="s0r37 ro1">
            <td class="text ce12 co1" rowspan="2">DUESME</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Samuel SIGOILLOT</td>
        </tr>
        <tr class="s0r38 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Bernard MONGENET</td>
        </tr>
        <tr class="s0r39 ro1">
            <td class="text ce12 co1" rowspan="2">ETORMAY</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Jean-Claude PHILISOT</td>
        </tr>
        <tr class="s0r40 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Benoît SAUSSIER</td>
        </tr>
        <tr class="s0r41 ro1">
            <td class="text ce12 co1" rowspan="2">ETROCHEY</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Edwige GUEGAN</td>
        </tr>
        <tr class="s0r42 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Jean-Paul MARIN</td>
        </tr>
        <tr class="s0r43 ro1">
            <td class="text ce12 co1" rowspan="2">FONTAINES EN DUESMOIS</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Pascal GELIQUOT</td>
        </tr>
        <tr class="s0r44 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Guy VIENNOT</td>
        </tr>
        <tr class="s0r45 ro1">
            <td class="text ce12 co1" rowspan="2">GEVROLLES</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Henri MAITREHENRY</td>
        </tr>
        <tr class="s0r46 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3"> Robert DROUARD</td>
        </tr>
        <tr class="s0r47 ro1">
            <td class="text ce12 co1" rowspan="2">GOMMEVILLE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Jean-Paul ROMMEL</td>
        </tr>
        <tr class="s0r48 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Cindy MILLET</td>
        </tr>
        <tr class="s0r49 ro1">
            <td class="text ce12 co1" rowspan="2">GRANCEY SUR OURCE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Michel CHAUVE</td>
        </tr>
        <tr class="s0r50 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Roland GUINOT</td>
        </tr>
        <tr class="s0r51 ro1">
            <td class="text ce12 co1" rowspan="2">JOURS LES BAIGNEUX</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Thierry AUBRY</td>
        </tr>
        <tr class="s0r52 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Jean-Yves BABOUILLARD</td>
        </tr>
        <tr class="s0r53 ro1">
            <td class="text ce13 co1" rowspan="4">LAIGNES</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">André MARTINY</td>
        </tr>
        <tr class="s0r54 ro1">
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Jean-Michel MARS</td>
        </tr>
        <tr class="s0r55 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Xavier PLAIT</td>
        </tr>
        <tr class="s0r56 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Thierry SIMONOT</td>
        </tr>
        <tr class="s0r57 ro1">
            <td class="text ce14 co1" rowspan="2">LEUGLAY</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">François MAIRE DU POSET</td>
        </tr>
        <tr class="s0r58 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Daniel REGNER</td>
        </tr>
        <tr class="s0r59 ro1">
            <td class="text ce12 co1" rowspan="2">MAISEY LE DUC</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Eric TILQUIN</td>
        </tr>
        <tr class="s0r60 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Christophe GUGLIELMINETTI</td>
        </tr>
        <tr class="s0r61 ro1">
            <td class="text ce13 co1" rowspan="2">MOLESME</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Jacques LAZZAROTTI</td>
        </tr>
        <tr class="s0r62 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Laure GRAN AYMERICH</td>
        </tr>
        <tr class="s0r63 ro1">
            <td class="text ce15 co1" rowspan="2">MONTIGNY-SUR-AUBE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Alain ENARD</td>
        </tr>
        <tr class="s0r64 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Gérard FRAEYE</td>
        </tr>
        <tr class="s0r65 ro1">
            <td class="text ce14 co1" rowspan="2">MONTLIOT ET COURCELLES</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Hubert FLEUROT</td>
        </tr>
        <tr class="s0r66 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Jean-François BOUCHARD</td>
        </tr>
        <tr class="s0r67 ro1">
            <td class="text ce12 co1" rowspan="2">NOD SUR SEINE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">François RIARD</td>
        </tr>
        <tr class="s0r68 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Patrick MENEGHEL</td>
        </tr>
        <tr class="s0r69 ro1">
            <td class="text ce12 co1" rowspan="2">NOIRON SUR SEINE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Fernand LENI</td>
        </tr>
        <tr class="s0r70 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Eric GRANDJEAN</td>
        </tr>
        <tr class="s0r71 ro1">
            <td class="text ce12 co1" rowspan="2">OBTREE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Pierre DELVAL</td>
        </tr>
        <tr class="s0r72 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Jean-Marc MANZONI</td>
        </tr>
        <tr class="s0r73 ro1">
            <td class="text ce12 co1" rowspan="2">POTHIERES</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Damien ROGNON</td>
        </tr>
        <tr class="s0r74 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Sébastien PETITJEAN</td>
        </tr>
        <tr class="s0r75 ro1">
            <td class="text ce12 co1" rowspan="2">PRUSLY SUR OURCE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Jacques VERSCHRAEGHEN</td>
        </tr>
        <tr class="s0r76 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Victor MATRAT</td>
        </tr>
        <tr class="s0r77 ro1">
            <td class="text ce12 co1" rowspan="2">PUITS</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Gérard CHAUVE</td>
        </tr>
        <tr class="s0r78 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Julien MARTINY</td>
        </tr>
        <tr class="s0r79 ro1">
            <td class="text ce12 co1" rowspan="2">QUEMIGNY SUR SEINE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Pierre LECOEUR</td>
        </tr>
        <tr class="s0r80 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Gérald ETIENNE</td>
        </tr>
        <tr class="s0r81 ro1">
            <td class="text ce12 co1" rowspan="2">RECEY SUR OURCE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Claude VINOT</td>
        </tr>
        <tr class="s0r82 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Anne-Marie BLONDON</td>
        </tr>
        <tr class="s0r83 ro1">
            <td class="text ce12 co1" rowspan="2">RIEL LES EAUX</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Marc STIVALET</td>
        </tr>
        <tr class="s0r84 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Nicolas JACQUET</td>
        </tr>
        <tr class="s0r85 ro1">
            <td class="text ce12 co1" rowspan="2">ROCHEFORT SUR BREVON</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">André MALGRAS</td>
        </tr>
        <tr class="s0r86 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">René LEGENDRE</td>
        </tr>
        <tr class="s0r87 ro1">
            <td class="text ce12 co1" rowspan="4">SAINTE COLOMBE SUR SEINE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Jean-Claude PUCH</td>
        </tr>
        <tr class="s0r88 ro1">
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Yvon ORMANCEY</td>
        </tr>
        <tr class="s0r89 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Yann REMY</td>
        </tr>
        <tr class="s0r90 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Jean-Michel GUIRADO</td>
        </tr>
        <tr class="s0r91 ro1">
            <td class="text ce12 co1" rowspan="2">SAINT MARC SUR SEINE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Vincent CHAUVOT</td>
        </tr>
        <tr class="s0r92 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Eric AMAR</td>
        </tr>
        <tr class="s0r93 ro1">
            <td class="text ce12 co1" rowspan="2">THOIRES</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Jean-Louis TROISGROS</td>
        </tr>
        <tr class="s0r94 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Geoffroy BEE</td>
        </tr>
        <tr class="s0r95 ro1">
            <td class="text ce12 co1" rowspan="2">VANNAIRE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Véronique MENETRIER</td>
        </tr>
        <tr class="s0r96 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Stéphane ROUSSEL</td>
        </tr>
        <tr class="s0r97 ro1">
            <td class="text ce12 co1" rowspan="2">VANVEY</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Emeric ROGER</td>
        </tr>
        <tr class="s0r98 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Paule FONQUERNIE</td>
        </tr>
        <tr class="s0r99 ro1">
            <td class="text ce12 co1" rowspan="2">VILLAINES EN DUESMOIS</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Christophe VERDOT</td>
        </tr>
        <tr class="s0r100 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Alain PAULA</td>
        </tr>
        <tr class="s0r101 ro1">
            <td class="text ce12 co1" rowspan="2">VILLERS PATRAS</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Serge SAVOI</td>
        </tr>
        <tr class="s0r102 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Georges CARILLON</td>
        </tr>
        <tr class="s0r103 ro1">
            <td class="text ce12 co1" rowspan="2">VILLOTTE SUR OURCE</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Romuald LASSOLLE</td>
        </tr>
        <tr class="s0r104 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Bertrand BARRE</td>
        </tr>
        <tr class="s0r105 ro1">
            <td class="text ce12 co1" rowspan="2">VIX</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Jean TOTARO</td>
        </tr>
        <tr class="s0r106 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Alain AUBERT</td>
        </tr>
        <tr class="s0r107 ro1">
            <td class="text ce12 co1" rowspan="2">VOULAINES LES TEMPLIERS</td>
            <td class="text ce5 co2">Titulaire</td>
            <td class="text ce6 co3">Philippe VINCENT</td>
        </tr>
        <tr class="s0r108 ro1">
            <td class="text ce5 co2">Suppléant</td>
            <td class="text ce6 co3">Philippe TRINQUESSE</td>
        </tr>
        </tbody>
    </table>
    {% endblock %}
    {% block js %}
{% endblock %}